.col-1-3{
    width:33.33%;
    display: inline-block;
    text-align: center;
}

/*myme*/
.myme{
    text-align: center;
    width: 100%;
}

.nic-1{
    text-align: center;
    width: 33.33%;
    display: inline-block;
}